@charset "UTF-8 ";
*{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    text-align: justify;
}

body{
    background-image: linear-gradient(to left, #88ff84, #fa6c6c);
}
main{   
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(163, 163, 119)
}

h1{
    color: #D2E8E3;
    text-align: center;
}

h2{
   
    color: #0F6466;
}